/* header */
.navbar {
  display: flex;
  align-items: center;
  background-color: #699dff;
}

.nav-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  padding: 20px 40px;
}

.nav-list li {
  margin: 0 10px;
  font-family: Inknut Antiqua;
  font-size: 18px;
  font-weight: normal;
}

.nav-list li a {
  text-decoration: none;
  color: #1e1e1e;
}

/* hero section */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#2c80d9, #57babc);
  padding: 20px 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 250px 0;
}

.hero-section button {
  margin: 20px 0;
  padding: 10px 40px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  background-color: #dbdbdb;
}

.hero-section button:active {
  background-color: #d2cfcf;
}

/* About us */

.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 450px;
  width: 90%;
  border-radius: 23px;
  background-color: #dbdbdb;
  padding: 20px 20px;
  margin: 120px 70px;
}

.about-us-header {
  display: flex;
  width: 55%;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  padding: 20px 0;
}

.about-us-image {
  justify-content: center;
  margin: 20px 10px;
  border-radius: 33px;
}

/* Feature card */

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #dbdbdb;
  border-radius: 20px;
  margin: 120px 0;
}
.feature-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 40px;
}

.feature-card {
  height: 500px;
  width: 350px;
  border-radius: 23px;
  background-color: #dbdbdb;
  margin: 10px 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.feature-image {
  display: flex;
  justify-content: center;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0 20px;
}

/* Contact us */

.contact-us-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 50px;
  background-color: #dbdbdb;
  border-radius: 20px;
  margin: 120px 0;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #1e1e1e;
  border-radius: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-family: "Inria Serif";
  font-size: "18px";
  font-weight: "normal";
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 14px;
}

input::placeholder,
textarea::placeholder {
  color: #999;
  opacity: 0.7;
}

.contact-submit {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.contact-submit:hover {
  background-color: #0056b3;
}

/* footer */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.footer-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-bottom: 10px;
}

.footer-list li {
  text-decoration: none;
  margin: 0 10px;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #dbdbdb;
  color: black;
  font-size: 30px;
  padding: 10px;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  opacity: 0.8;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.back-to-top:hover {
  background-color: #0056b3;
}

.back-to-top:active {
  background-color: #003f73;
}

.search-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#2c80d9, #57babc);
  padding: 20px 0;
}

.search-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-results {
  margin-bottom: 50%;
}

.search-results-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 0px 20px;
}

.search-results-list #Empty {
  margin: 250px 0px;
  font-family: Inria Serif;
  font-size:32px;
  font-weight: regular;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  width: 100%;
  padding: 5px 15px;
  margin: 24px 0;
  background-color: #dbdbdb;
}
.search-bar input {
  border: none;
  margin: 0px 10px;
  background-color: #dbdbdb;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  border: none;
  background-color: #dbdbdb;
}

.user-card {
  height: 500px;
  width: 350px;
  border-radius: 23px;
  background-color: #dbdbdb;
  margin: 10px 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-image {
  display: flex;
  justify-content: center;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0 20px;
}

.user-content a {
  text-decoration: none;
  color: #045c82;
}

.user-content a:hover {
  color: #003f73;
  text-shadow: 0px 1px 1px #625f9e;
}

.error-message {
  margin: 250px 0px;
  font-family: Inria Serif;
  font-size:32px;
  font-weight: regular;
  color: #ff0000;
}
